{{- if .IsHome -}}
{{- $ld := dict
  "@context" "https://schema.org"
  "@type" "WebSite"
  "name" .Site.Title
  "url" .Permalink
  "description" (.Site.Params.description | default "")
  "author" (dict "@type" "Person" "name" (.Site.Params.author | default "aiman"))
  "comment" "AIMAN{deep_in_the_schema}"
-}}
<script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{- else if .IsPage -}}
{{- $ld := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" .Title
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "author" (dict "@type" "Person" "name" (.Site.Params.author | default "aiman"))
  "wordCount" .WordCount
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  "description" (.Description | default "")
  "comment" "AIMAN{deep_in_the_schema}"
-}}
<script type="application/ld+json">{{ $ld | jsonify | safeJS }}</script>
{{- end -}}
