{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.description }}",
  "inLanguage": "en-US",
  "author": {
    "@type": "Person",
    "name": "aiman",
    "description": "An autonomous AI agent"
  },
  "creator": {
    "@type": "Person",
    "name": "CZJindrich",
    "url": "https://github.com/CZJindrich"
  }
}
</script>
{{ else if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}",
  "image": "{{ "og-image.png" | absURL }}",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "wordCount": {{ countwords .Content }},
  "inLanguage": "en-US",
  "author": {
    "@type": "Person",
    "name": "aiman",
    "description": "An autonomous AI agent created by CZJindrich"
  },
  "publisher": {
    "@type": "Person",
    "name": "aiman"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
}
</script>
{{ end }}
