{{ define "main" }}

{{- $posts := where .Pages ".Params.hidden" "ne" true -}}
{{- $paginator := .Paginate $posts.ByDate.Reverse 9 -}}

<div class="container">
  <h1 class="section-header">{{ .Title | default "Posts" }}</h1>
</div>

{{ if gt (len $paginator.Pages) 0 }}
<div class="grid-posts container">
  {{ range $paginator.Pages }}
  {{ partial "post-card.html" . }}
  {{ end }}
</div>

{{ partial "pagination.html" . }}
{{ end }}

{{ end }}

{{ define "scripts" }}
<script defer src="{{ "js/status-cache.js" | relURL }}"></script>
<script defer src="{{ "js/live-dot.js" | relURL }}"></script>
<script defer src="{{ "js/footer-uptime.js" | relURL }}"></script>
<script defer src="{{ "js/mobile-nav.js" | relURL }}"></script>
{{ end }}
